<!-- <form>
  <div class="row">
  <div class="col">
    <label for="username"></label>
    <input type="text" name="username" [(ngModel)]="loginUser.username" placeholder="username">
  </div>
  <div class="col">
    <label for="password"></label>
    <input type="password" name="password" [(ngModel)]="loginUser.password" placeholder="password">
  </div>
  <div class="col">
    <button (click)="login(loginUser)">Login</button>
  </div>
</div>
</form> -->

<form style="align-items: center;">
  <h1 class="a11y-hidden">Login Form</h1>
  <div>
    <label class="label-email">
      <input type="text" class="text" name="username" [(ngModel)]="loginUser.username" placeholder="Username" tabindex="1" required />
      <span class="required">Username</span>
    </label>
  </div>
  <input type="checkbox" name="show-password" class="show-password a11y-hidden" id="show-password" tabindex="3" />
  <label class="label-show-password" for="show-password">
    <span>Show Password</span>
  </label>
  <div>
    <label class="label-password">
      <input type="text" class="text" name="password" [(ngModel)]="loginUser.password" placeholder="Password" tabindex="2" required />
      <span class="required">Password</span>
    </label>
  </div>
  <input type="submit" value="Log In" (click)="login(loginUser)"/>
  <figure aria-hidden="true">
    <div class="person-body"></div>
    <div class="neck skin"></div>
    <div class="head skin">
      <div class="eyes"></div>
      <div class="mouth"></div>
    </div>
    <div class="hair"></div>
    <div class="ears"></div>
    <div class="shirt-1"></div>
    <div class="shirt-2"></div>
  </figure>
</form>
