<div *ngIf="displayTable" class="headerDiv" id="titleContainer">
  <h1>My <span style="color: #f5bf74">Projects</span></h1>
</div>
<!-- Michael's Experiment w/ Cards for Projects -->
<div id="parentContainer" >
  <div id="projectCardDiv" *ngFor="let project of projectList" >
    <div *ngIf="!selected && projectList.length > 0 && project.enabled"
      id="cardDiv"
      class="card zoom"
      style="width: 18rem"
      (click)="displayProject(project)">
      <img class="card-img-top" src="{{ project.imagePrimary }}" alt="Card image cap"/>
      <div style="padding: 10px" class="card-body">
        <h5 class="card-text">{{ project.name }}</h5>
        <p class="card-text">{{ project.description }}</p>
      </div>
    </div>
  </div>
</div>
<div id="parentContainer">
  <div id="projectCardDiv" *ngIf="!selected && projectList.length <= 0">
    <div id="cardDiv" class="card zoom" style="width: 18rem">
      <img
        class="card-img-top"
        src="https://media.tenor.com/nqmhZ7rVfE8AAAAC/scoobydoo-looking-for-clues.gif"
        alt="Not found"
      />
      <div style="padding: 10px" class="card-body">
        <h5 class="card-text">No projects found</h5>
        <p class="card-text">
          Visit the project board to create a new project!
        </p>
      </div>
    </div>
  </div>
</div>

<!-- Shows individual information about a selected project -->

<div class="container" *ngIf="selected">
  <table class="content-table">
    <caption>
      Project
      <span style="color: #f5bf74">Summary</span>
    </caption>
    <thead>
      <tr>
        <th style="text-align: center; vertical-align: middle">Image</th>
        <th style="text-align: center; vertical-align: middle">Name</th>
        <th style="text-align: center; vertical-align: middle">Description</th>

        <th style="text-align: center; vertical-align: middle">Start Date</th>
        <th style="text-align: center; vertical-align: middle">
          Projected Completion
        </th>
      </tr>
    </thead>
    <tbody>
      <tr class="selectedProjectTable" style="height: auto">
        <td style="text-align: center; vertical-align: middle">
          <img
            class=""
            id="projectImg"
            style="width: 150px"
            src="{{ selected.imagePrimary }}"
          />
        </td>
        <td style="text-align: center; vertical-align: middle">
          {{ selected.name }}
        </td>
        <td style="text-align: center; vertical-align: middle">
          {{ selected.description }}
        </td>

        <td style="text-align: center; vertical-align: middle">
          {{ selected.startDate | date : "shortDate" }}
        </td>
        <td style="text-align: center; vertical-align: middle">
          {{ selected.projectedDate | date : "shortDate" }}
        </td>
      </tr>
    </tbody>
  </table>
  <button class="btn btn-alt" (click)="setEditProject()">Edit</button>
  <button class="btn btn-alt" (click)="displayTable(); editProject = null">
    Back
  </button>
  <button *ngIf="selected.enabled" class="btn btn-alt" (click)="archiveAction(selected)">Completed</button>
</div>
<!-- End of information about a selected project -->

<br />

<button *ngIf="!displayTable" class="btn btn-primary" (click)="setAddProject()">
  Add a project!
</button>
<!-- Add Project Form -->
<div id="addProjectForm">
  <form *ngIf="addProjectMod">
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="inputName">Name of Project: </label>
        <input
          required
          type="text"
          class="form-control"
          name="name"
          placeholder="Name of Project"
          [(ngModel)]="project.name"
        />
      </div>
      <div class="form-group col-md-6">
        <label for="inputDescription">Description</label>
        <input
          required
          type="text"
          class="form-control"
          name="description"
          placeholder="Description"
          [(ngModel)]="project.description"
        />
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="inputImage">Image</label>
        <input
          required
          type="text"
          class="form-control"
          name="imagePrimary"
          placeholder="Image"
          [(ngModel)]="project.imagePrimary"
        />
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="inputStartDate">Projected Start Date:</label>
        <input
          required
          type="date"
          class="form-control"
          name="startDate"
          placeholder="Projected Start Date"
          [(ngModel)]="project.startDate"
        />
      </div>
      <div class="form-row">
        <div class="form-group col-md-6">
          <label for="inputProjectedEndDate">Projected Completion Date:</label>
          <input
            required
            type="date"
            class="form-control"
            name="projectedDate"
            placeholder="Projected Completion Date"
            [(ngModel)]="project.projectedDate"
          />
        </div>
        <div *ngIf="projectCreated">
          <div *ngFor="let skill of skillList">
            <label>{{ skill.name }}</label>
            <input required(change)="skillUpdate(skill.id, project.id)" type="checkbox"/>
          </div>
        </div>
        <button *ngIf="projectCreated" type="submit" class="btn btn-primary" (click)="reload()"> Submit</button>
        <button *ngIf="!projectCreated" type="submit" class="btn btn-primary"(click)="addProject(project)">Submit</button>
      </div>
      <div *ngIf="projectCreated">
        <div *ngFor="let skill of skillList">
          <label>{{ skill.name }}</label>
          <input
            required
            (change)="skillUpdate(skill.id, project.id)"
            type="checkbox"
          />
        </div>
      </div>
      <button
        *ngIf="projectCreated"
        type="submit"
        class="btn btn-primary"
        (click)="reload()"
      >
        Submit
      </button>
      <button
        *ngIf="!projectCreated"
        type="submit"
        class="btn btn-primary"
        (click)="addProject(project)"
      >
        Submit
      </button>
    </div>
  </form>
</div>
<!-- End of Add Project Form -->

<!-- Edit Project Form -->
<!-- <h1>Edit Poject which will be hidden</h1> -->
<div id="editFormParentDiv">
  <div style="min-width: 500px;" id="editProjectForm" *ngIf="editProject">
    <form>
      <div class="form-row">
        <div class="form-group col-md-12">
          <label for="inputName">Name of Project: </label>
          <input
            type="text"
            class="form-control"
            name="name"
            placeholder="Name of Project"
            [(ngModel)]="editProject.name"
          />
        </div>
        <div style="margin-bottom: 20px;">
          <label for="inputDescription">Description:</label>
          <textarea
            class="form-control"
            rows="5"
            id="inputDescription"
            name="description"
            placeholder="Description"
            [(ngModel)]="editProject.description"
          ></textarea>

        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-6">
          <label for="inputImage">Image:</label>
          <input
            type="text"
            class="form-control"
            name="imagePrimary"
            placeholder="Image"
            [(ngModel)]="editProject.imagePrimary"
          />
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-6">
          <label for="inputStartDate">Projected Start Date:</label>
          <input
            type="date"
            class="form-control"
            name="startDate"
            placeholder="Projected Start Date"
            [(ngModel)]="editProject.startDate"
          />
        </div>
        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="inputProjectedEndDate"
              >Projected Completion Date:</label
            >
            <input
              type="date"
              class="form-control"
              name="projectedDate"
              placeholder="Projected Completion Date"
              [(ngModel)]="editProject.projectedDate"
            />
          </div>
          <div>
            <h6>Required Skill:</h6>
            <div style="display: flex; flex-wrap: wrap; width: 300px; justify-content:baseline;">
            <div class="checkbox" *ngFor="let skill of skillList">
              <!-- <label>{{ skill.name }}</label> -->
              <input
                (change)="skillUpdate(skill.id, editProject.id)"
                type="checkbox"
                [checked]="checkSkill(skill)"
              />
              <label class="skillname">{{ skill.name }}</label>
              <!-- <input (change)="skillUpdate(skill.id)" type="checkbox" checked = "{{ editProject.skills.includes(skill) }}" > -->
            </div>
          </div>
          </div>
        </div>
        <div style="display: flex; justify-content: center;">
        <button class="btn btn-success" (click)="updateProject(editProject)">
          Save
        </button>
        <button class="btn btn-danger" (click)="editProject = null">
          Cancel
        </button>
      </div>
      </div>
    </form>
  </div>
</div>

<div
  class="container"
  style="
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  "
>

<hr class="yellowHR">
<div *ngIf="!selected" class="headerDiv2" id="titleContainer" style="margin-top: 300px !important;">
  <h1>Completed <span style="color: #f5bf74">Projects</span></h1>
</div>
<div id="parentContainer">
  <div id="projectCardDiv" *ngFor="let project of completedProjects" >
    <div *ngIf="!selected"
      id="cardDiv"
      class="card zoom"
      style="width: 18rem"
      (click)="displayProject(project)">
      <img class="card-img-top" src="{{ project.imagePrimary }}" alt="Card image cap"/>
      <div style="padding: 10px" class="card-body">
        <h5 class="card-text">{{ project.name }}</h5>
        <p class="card-text">{{ project.description }}</p>
      </div>
    </div>
  </div>
  <div *ngIf="completedProjects.length <= 0 && !selected"
      id="cardDiv"
      class="card zoom"
      style="width: 18rem"
      (click)="displayProject(project)">
      <img
        class="card-img-top"
        src="https://media.tenor.com/nqmhZ7rVfE8AAAAC/scoobydoo-looking-for-clues.gif"
        alt="Image not found"
      />
      <div style="padding: 10px" class="card-body">
        <h5 class="card-text">No completed projects</h5>
        <p class="card-text">
          Projects will be visible here upon completion!
        </p>
      </div>
    </div>
</div>
