.container {
  margin-left: auto;
  margin-right: auto;
}

table {
  width: auto;
  border-collapse: collapse;
  overflow: hidden;
  box-shadow: 0 0 20px rgba(0,0,0,0.1);
  margin-left: auto;
  margin-right: auto;
}

th,
td {
  padding: 15px;
  background-color: white;
  color: rgb(6, 5, 5);
}

th {
  text-align: left;
}

thead,
  th {
    background-color: #5E6F7C;

  }

.divelist{
  text-align: center;
  padding-top: 50px;
  padding-bottom: 50px;
  font-size: xx-large;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  color: antiquewhite;
}

#projectCardDiv {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  color: black;
}

.zoom {
	transition: transform .2s;
	margin: 0 auto;
}

.zoom:hover {
	transform: scale(1.05);
}

.card {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
