.container {
  margin-left: auto;
  margin-right: auto;
  justify-content: center;

}

#projectCardDiv {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  color: black;
  width: auto;
  padding: 10px;
}

#parentContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width:100%;
  padding: 50px;
}

.selectedProjectTable{
  text-align: center;
  justify-content: center;
  margin-top: 10px;
  margin-bottom: 10px;
}
.zoom {
	transition: transform .2s;
	margin: 0 auto;
}

.zoom:hover {
	transform: scale(1.05);
}


.card {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  margin: 5px;
  cursor: pointer;
  position: relative;
}

#titleContainer {
  display: flex;
  justify-content: center;
  margin-top: 50px;
  margin-bottom: 10px;
}

#cardDiv {
  width: 100px;
  display: flex;
  justify-content: center;
}

#editFormParentDiv {
  display: flex;
  justify-content: center;
  padding: 50px;
}

#editProjectForm {
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #fff;
  border: 10px solid #F5BF74;
  border-radius: 10px;
  padding: 20px;
  color: black;
}

#editFormHeader {
  background-color: #F5BF74;
  color: #fff;
}

.form-row > div {
  margin-bottom: 20px;
}

#addProjectForm {
  height: auto;
}

h1 {
  font-size: 50px;
  font-family: "Lato", "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #FEFEFE;
  margin-top: 15px;
}

html, body, div, span, applet, object, iframe, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*
  ========================================
  Custom styles
  ========================================
*/

body {
  background: #FEFEFE;
  color: #888;
  font: 300 16px/22px "Lato", "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/*
  ========================================
  Grid
  ========================================
*/

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
.container,
.grid {
  margin: 0 auto;
  width: 960px;
}
.container {
  padding-left: 30px;
  padding-right: 30px;
}
.grid,
.col-1-3,
.col-2-3 {
  padding-left: 15px;
  padding-right: 15px;
}
.col-1-3,
.col-2-3  {
  display: inline-block;
  vertical-align: top;
}
.col-1-3 {
  width: 33.33%;
}
.col-2-3 {
  width: 66.66%;
}

/*
  ========================================
  Clearfix
  ========================================
*/

.group:before,
.group:after {
  content: "";
  display: table;
}
.group:after {
  clear: both;
}
.group {
  clear: both;
  *zoom: 1;
}

/*
  ========================================
  Rows
  ========================================
*/

.row,
.row-alt {
  min-width: 960px;
}
.row {
  background: #fff;
  padding: 66px 0 44px 0;
}
.row-alt {
  background: #FEFEFE;
  background: -webkit-linear-gradient(to right, #a1d3b0, #f6f1d3);
  background:    -moz-linear-gradient(to right, #a1d3b0, #f6f1d3);
  background:         linear-gradient(to right, #a1d3b0, #f6f1d3);
  padding: 44px 0 22px 0;
}

/*
  ========================================
  Typography
  ========================================
*/

h2, h3, h4 {
  color: #FEFEFE;
}
h3, h4, h5, p {
  margin-bottom: 22px;
}
/* h1 {
  font-size: 36px;
  line-height: 44px;
} */
h2 {
  font-size: 24px;
  line-height: 44px;
}
h3 {
  font-size: 21px;
}
h4 {
  font-size: 18px;
}
h5 {
  color: black;
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
}
strong {
  font-weight: 400;
}
cite,
em {
  font-style: italic;
}

/*
  ========================================
  Leads
  ========================================
*/

.lead {
  text-align: center;
}
.lead p {
  font-size: 21px;
  line-height: 33px;
}

/*
  ========================================
  Links
  ========================================
*/

a {
  color: #FEFEFE;
  text-decoration: none;
}
a:hover {
  color: #a9b2b9;
}
p a {
  border-bottom: 1px solid #dfe2e5;
}
.primary-header a,
.primary-footer a {
  color: #fff;
}
.primary-header a:hover,
.primary-footer a:hover {
  color: #FEFEFE;
}

/*
  ========================================
  Buttons
  ========================================
*/

.btn {
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-weight: 400;
  letter-spacing: .5px;
  margin: 0;
  margin-right: 20px;
  text-transform: uppercase;
}
.btn-default {
  border: 0;
  background: #648880;
  padding: 11px 30px;
  font-size: 14px;
}
.btn-default:hover {
  background: #77a198;
}
.btn-alt {
  border: 1px solid #fff;
  padding: 10px 30px;
}
.btn-alt:hover {
  background: #fff;
  color: #648880;
}

/*
  ========================================
  Primary header
  ========================================
*/

.logo {
  margin-top: 20px;
  float: left;
  font-size: 48px;
  font-weight: 100;
  letter-spacing: .5px;
  line-height: 44px;
  padding: 40px 0 22px 0;
  text-transform: uppercase;
}
.tagline {
  margin: 66px 0 22px 0;
  text-align: right;
}
.primary-nav {
  font-size: 14px;
  font-weight: 400;
  letter-spacing: .5px;
  text-transform: uppercase;
}

/*
  ========================================
  Primary footer
  ========================================
*/

.primary-footer {
  color: #FEFEFE;
  font-size: 14px;
  padding-bottom: 44px;
  padding-top: 44px;
}
.primary-footer small {
  float: left;
  font-weight: 400;
}

/*
  ========================================
  Navigation
  ========================================
*/

.nav {
  text-align: right;
}
.nav li {
  display: inline-block;
  margin: 0 10px;
  vertical-align: top;
}
.nav li:last-child {
  margin-right: 0;
}

/*
  ========================================
  Home
  ========================================
*/

.hero {
  color: #fff;
  line-height: 44px;
  padding: 22px 80px 66px 80px;
  text-align: center;
}
.hero h2 {
  font-size: 36px;
}
.hero p {
  font-size: 24px;
  font-weight: 100;
}
.teaser a:hover h3 {
  color: #a9b2b9;
}
.teaser img {
  border-radius: 5px;
  display: block;
  margin-bottom: 22px;
  max-width: 100%
}


#addProjectForm {
  display: flex;
  justify-content: center;
}

.content-table {
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 0.9em;
  min-width: 400px;
  border-radius: 5px 5px 0 0;
  overflow: hidden;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  background-color: #FEFEFE;
}

.content-table thead tr {
  background-color:  #F5BF74;
  color: black;
  text-align: left;
  font-weight: bold;
}

.content-table th,
.content-table td {
  padding: 12px 15px;
}

.content-table tbody tr {
  border-bottom: 1px solid #dddddd;
  color: black;
}

.content-table tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

.content-table tbody tr:last-of-type {
  border-bottom: 2px solid  #F5BF74;
}

.content-table tbody tr.active-row {
  font-weight: bold;
  color: #F5BF74;
}

caption {
  color: #FEFEFE;
}

#projectImg {
  width: 100px;
}


.checkbox {
  position: left;
  border-radius: 5px;
  margin-right: 10px;
  padding-right: 5px;



}

.skillname {
  padding-left: 5px;
}

img {
  --g: 0px;     /* the gap */
  --b: 12px;    /* border thickness*/
  --c: #F5BF74; /* the color */


  padding: calc(var(--g) + var(--b));
  --_c: #0000 0 25%, var(--c) 0 50%;
  --_g1: repeating-linear-gradient(90deg ,var(--_c)) repeat-x;
  --_g2: repeating-linear-gradient(180deg,var(--_c)) repeat-y;
  background:
    var(--_g1) var(--_p, 25%) 0   ,var(--_g2) 0    var(--_p,125%),
    var(--_g1) var(--_p,125%) 100%,var(--_g2) 100% var(--_p, 25%);
  background-size: 200% var(--b),var(--b) 200%;
  cursor: pointer;
  filter: grayscale(50%);
  transition: .3s;
}
img:hover {
  --_p: 75%;
  filter: grayscale(0%);
}
