<div class="row">
  <div class="col-sm-4">
    <div class="row">
      <div class="row">
        <img src="loggedInUser.profileImage" /><br />
        <div class="text-center text-white">
          <h4>User Profile</h4>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt
            harum rem iure quae eos? Ad quod repellendus iste. Reiciendis vel
            quisquam sequi id rerum quasi a at molestiae dicta reprehenderit.
          </p>
        </div>
      </div
    </div>
  </div>
  <div class="col-sm-8">
    <div class="row">
      <h3 class="text-center text-white">Projects</h3>
      <div class="card-group">
        <div class="card">
          <img src="..." class="card-img-top" alt="..." />
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">
              This is a wider card with supporting text below as a natural
              lead-in to additional content. This content is a little bit
              longer.
            </p>
          </div>
          <div class="card-footer">
            <small class="text-muted">Last updated 3 mins ago</small>
          </div>
        </div>
        <div class="card">
          <img src="..." class="card-img-top" alt="..." />
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">
              This card has supporting text below as a natural lead-in to
              additional content.
            </p>
          </div>
          <div class="card-footer">
            <small class="text-muted">Last updated 3 mins ago</small>
          </div>
        </div>
        <div class="card">
          <img src="..." class="card-img-top" alt="..." />
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">
              This is a wider card with supporting text below as a natural
              lead-in to additional content. This card has even longer content
              than the first to show that equal height action.
            </p>
          </div>
          <div class="card-footer">
            <small class="text-muted">Last updated 3 mins ago</small>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
