<div class="row" *ngIf="!selected">
  <div class="col-sm-4">
    <div class="row">
      <div class="row">
        <h1>{{loggedInUser.firstName}} {{loggedInUser.lastName}}</h1>
        <img src="{{ loggedInUser.profileImage }}" alt="not found"/><br />
        <div class="text-center text-white">
          <h4>User Profile</h4>
          <p>
            {{ loggedInUser.profileImage }}
            {{ loggedInUser.bio }}

          <br>
          User info: {{ selected }}
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-8">
    <div class="row">
      <h3 class="text-center text-white">Projects</h3>
      <div class="card-group">
        <div class="card">
          <img src="..." class="card-img-top" alt="..." />
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">
              This is a wider card with supporting text below as a natural
              lead-in to additional content. This content is a little bit
              longer.
            </p>
          </div>
          <div class="card-footer">
            <small class="text-muted">Last updated 3 mins ago</small>
          </div>
        </div>
        <div class="card">
          <img src="..." class="card-img-top" alt="..." />
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">
              This card has supporting text below as a natural lead-in to
              additional content.
            </p>
          </div>
          <div class="card-footer">
            <small class="text-muted">Last updated 3 mins ago</small>
          </div>
        </div>
        <div class="card">
          <img src="..." class="card-img-top" alt="..." />
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">
              This is a wider card with supporting text below as a natural
              lead-in to additional content. This card has even longer content
              than the first to show that equal height action.
            </p>
          </div>
          <div class="card-footer">
            <small class="text-muted">Last updated 3 mins ago</small>
          </div>
        </div>
      </div>
    </div>
  </div>
  <button (click)="selected = loggedInUser">Edit Information </button>
</div>

<form *ngIf="selected">
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="inputFirstName">First Name</label>
      <input type="text" class="form-control" name="firstName" placeholder="First Name" [(ngModel)]="loggedInUser.firstName">
    </div>
    <div class="form-group col-md-6">
      <label for="inputLastName">Last Name</label>
      <input type="text" class="form-control" name="lastName" placeholder="Last Name" [(ngModel)]="loggedInUser.lastName">
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="inputEmail">Email</label>
      <input type="email" class="form-control" name="email" placeholder="Email" [(ngModel)]="loggedInUser.email">
    </div>
  </div>
  <div class="form-group col-md-6">
    <label for="inputDescription">Description</label>
    <textarea type="text" class="form-control" name="bio" placeholder="Introduce yourself..." [(ngModel)]="loggedInUser.bio" rows="2"></textarea>
  </div>
  <div class="form-group col-md-6">
    <label for="inputProfilePic">Profile Picture</label>
    <input type="text" class="form-control" name="profileImage" placeholder="Link to profile pic..." [(ngModel)]="loggedInUser.profileImage">
  </div>
  <button type="submit" class="btn btn-primary" (click)="editInformation(loggedInUser) ; selected = null">Submit Changes</button>
</form>
