.footer {
  position: fixed;
  left: 0;
  margin-left: 0px;
  margin-bottom: 0px;
  bottom: 0;
  width: 100%;
  background-color: #F5BF74;
  color: white;
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  z-index: 50;
  height: 25px;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  text-decoration: none;
  color: #fff;
}
