mdb-carousel {
  box-shadow: inset 0 -3em 3em rgba(0, 0, 0, 0.1), 0 0 0 2px rgb(255, 255, 255),
    0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
  width: 750px;
}

#carouselDiv {
  display: flex;
  justify-content: center;
}

#spaceDiv {
  height: 200px;
}

#titleContainer {
  display: flex;
  justify-content: center;
}

h1 {
  font-size: 50px;
  font-family: 'Lato', sans-serif !important;
  color: #FEFEFE;
  margin-top: 15px;
}
