#carouselDiv {
  display: flex;
  justify-content: center;
}

#spaceDiv {
  height: 200px;
}

#titleContainer {
  display: flex;
  justify-content: center;
  margin-top: 30px;
  margin-bottom: 50px;
}

h1 {
  font-size: 50px;
  font-family: 'Lato', sans-serif !important;
  color: #FEFEFE;
  margin-top: 15px;
}

@keyframes scroller {
  0% {
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
      visibility: visible;
  }
  100% {
      -webkit-transform: translate3d(-100%, 0, 0);
      transform: translate3d(-100%, 0, 0);
  }
}
@keyframes bloom {
0% {
  filter: grayscale(0);
}
40% {
  filter: grayscale(.5);
}
100% {
  filter: grayscale(.8);
}
}

.scroller-left {
  left: 100%;
  height: 100px;
}
.image-scroller{
  display: flex;
  width: 100%;
  overflow: hidden;
  height: 100vh;
  align-items: space-between;
  justify-content: center;
  z-index: 444;
top: 24%;
}
.image-scroller-left {
  left: 100%;
  height: 100px;
}
.image-scroller .look{
white-space: nowrap;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-name: scroller;
  animation-name: scroller;
  -webkit-animation-duration: 40s;
  animation-duration: 40s;

}

.look img{
width: 10vw;
margin-right: 40px;
filter: grayscale(0);
-webkit-clip-path: inset(0 0 0 0);
clip-path: inset(0 0 0 0);
  -webkit-transition: 1s cubic-bezier(.075,.82,.165,1);
  -moz-transition: 1s cubic-bezier(.075,.82,.165,1);
  transition: 1s cubic-bezier(.075,.82,.165,1);

}

.look img:hover{
 animation: bloom ease-in-out .75s forwards;
 clip-path: inset(10px);
}

blockquote {
  font-family: Georgia, serif;
  font-size: 18px;
  font-style: italic;
  width: 500px;
  margin: 0.25em 0;
  padding: 0.35em 40px;
  line-height: 1.45;
  position: relative;
  color: #FEFEFE;
  }

  blockquote:before {
  display: block;
  padding-left: 10px;
  content: "\201C";
  font-size: 80px;
  position: absolute;
  left: -20px;
  top: -20px;
  color: #F5BF74;
  }

  blockquote cite {
  color: #F5BF74;
  font-size: 14px;
  display: block;
  margin-top: 5px;
  }

  blockquote cite:before {
  content: "\2014 \2009";
  }

  #blockquoteDiv {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 50px;
  }
