<div id="mainDiv" class="container">
<div style="border-radius: 5px;" class="headerDiv" id="titleContainer">
<h1>Skill<span style="color: #F5BF74;">Swap</span></h1>
</div>

<div id="imageScrollerDiv" style="width: 100%; background-color: aliceblue; border-left: 5px solid #F5BF74; border-right: 5px solid #F5BF74; border-top: 5px solid #F5BF74; border-bottom: 5px solid #F5BF74; padding-bottom: 70px; justify-content: center; border-radius: 15px;">
<div class="image-scroller container" style="height: 100px; margin-top: 100px;">
  <div class="scroller-left" *ngFor="let project of projects">
    <div class="look">
      <img src="{{project.imagePrimary}}"/>
    </div>
  </div>
</div>
</div>

<div id="blockquoteParentDiv" style="margin-top: 50px">
  <div id="blockquoteDiv" class="zoom">
  <blockquote>
    We created Skill Swap for people wanting to connect with others to educate and assist with the projects
  that they want to do. Whether that be cooking, wood working, or electrical work we have the resources to help
  you get started.
  <cite>Cinnamon Swan</cite>
</blockquote>
</div>
</div>

<div id="spaceDiv"></div>
</div>
