h1 {
  font-size: 50px;
  font-family: "Lato", "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #FEFEFE;
  margin-top: 15px;
}


.zoom {
	transition: transform .2s;
	margin: 0 auto;
}

.zoom:hover {
	transform: scale(1.15);
	/* color: black !important; */
}

.material-icons {
  cursor: pointer;
}

.box {
  min-height: 500px;
  margin: 100px;
  font-family: monospace;
  font-size: 20px;
  text-align: center;
}
.table-wrapper {
  background: #fff;
  padding: 20px 25px;
  margin-top: 30px;
  margin-left: 30px;
  margin-right: 30px;
  margin-bottom: 100px;
  border-radius: 3px;
  box-shadow: 0 1px 1px rgba(0,0,0,.05);
}
.table-title {
padding-bottom: 15px;
background:#F5BF74;
color: #fff;
padding: 16px 30px;
margin: -20px -25px 10px;
border-radius: 3px 3px 0 0;
}
.table-title h2 {
margin: 5px 0 0;
font-size: 24px;
}
.table-title .btn-group {
float: right;
}
.table-title .btn {
color: #fff;
float: right;
font-size: 13px;
border: none;
min-width: 50px;
border-radius: 2px;
border: none;
outline: none !important;
margin-left: 20px;
}
.table-title .btn i {
float: left;
font-size: 21px;
margin-right: 5px;
}
.table-title .btn span {
float: left;
margin-top: 2px;
}
table.table tr th, table.table tr td {
  border-color: #e9e9e9;
padding: 12px 15px;
vertical-align: middle;
}
table.table tr th:first-child {
width: 60px;
}
table.table tr th:last-child {
width: 100px;
}
table.table-striped tbody tr:nth-of-type(odd) {
background-color: #fcfcfc;
}
table.table-striped.table-hover tbody tr:hover {
background: #f5f5f5;
}
table.table th i {
  font-size: 13px;
  margin: 0 5px;
  cursor: pointer;
}
table.table td:last-child i {
opacity: 0.9;
font-size: 22px;
  margin: 0 5px;
}
table.table td a {
font-weight: bold;
color: #566787;
display: inline-block;
text-decoration: none;
outline: none !important;
}
table.table td a:hover {
color: #2196F3;
}
table.table td a.edit {
  color: #0056b3;
}
table.table td a.delete {
  color: #F44336;
}
table.table td i {
  font-size: 19px;
}
table.table .avatar {
border-radius: 50%;
vertical-align: middle;
margin-right: 10px;
}
.pagination {
  float: right;
  margin: 0 0 5px;
}
.pagination li a {
  border: none;
  font-size: 13px;
  min-width: 30px;
  min-height: 30px;
  color: #999;
  margin: 0 2px;
  line-height: 30px;
  border-radius: 2px !important;
  text-align: center;
  padding: 0 6px;
}
.pagination li a:hover {
  color: #666;
}
.pagination li.active a, .pagination li.active a.page-link {
  background: #03A9F4;
}
.pagination li.active a:hover {
  background: #0397d6;
}
.pagination li.disabled i {
  color: #ccc;
}
.pagination li i {
  font-size: 16px;
  padding-top: 6px
}
.hint-text {
  float: left;
  margin-top: 10px;
  font-size: 13px;
}
/* Custom checkbox */
.custom-checkbox {
position: relative;
}
.custom-checkbox input[type="checkbox"] {
opacity: 0;
position: absolute;
margin: 5px 0 0 3px;
z-index: 9;
cursor: pointer;
}
.custom-checkbox label:before{
width: 18px;
height: 18px;
}
.custom-checkbox label:before {
content: '';
margin-right: 10px;
display: inline-block;
vertical-align: text-top;
background: white;
border: 1px solid #bbb;
border-radius: 2px;
box-sizing: border-box;
z-index: 2;
}
.custom-checkbox input[type="checkbox"]:checked + label:after {
content: '';
position: absolute;
left: 6px;
top: 3px;
width: 6px;
height: 11px;
border: solid #000;
border-width: 0 3px 3px 0;
transform: inherit;
z-index: 3;
transform: rotateZ(45deg);
}
.custom-checkbox input[type="checkbox"]:checked + label:before {
border-color: #03A9F4;
background: #03A9F4;
}
.custom-checkbox input[type="checkbox"]:checked + label:after {
border-color: #fff;
}
.custom-checkbox input[type="checkbox"]:disabled + label:before {
color: #b8b8b8;
cursor: auto;
box-shadow: none;
background: #ddd;
}
/* Modal styles */
.modal .modal-dialog {
max-width: 400px;
}
.modal .modal-header, .modal .modal-body, .modal .modal-footer {
padding: 20px 30px;
}
.modal .modal-content {
border-radius: 3px;
}
.modal .modal-footer {
background: #ecf0f1;
border-radius: 0 0 3px 3px;
}
.modal .modal-title {
  display: inline-block;
}
.modal .form-control {
border-radius: 2px;
box-shadow: none;
border-color: #dddddd;
}
.modal textarea.form-control {
resize: vertical;
}
.modal .btn {
border-radius: 2px;
min-width: 100px;
}
.modal form label {
font-weight: normal;
}

.ellipsis {
  max-width: 40px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

#arcadeImage {
  max-width: 100px;
}

#titleHeader {
  text-align: center;
}

#projectImage {
  max-width: 100px;
}

#createFormParentDiv {
  display: flex;
  justify-content: center;
  padding: 50px;
}

#createProjectForm {
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #fff;
  border: 10px solid #F5BF74 !important;
  border-radius: 10px !important;
  padding: 50px 100px 50px 100px !important;
  color: black;
}

.btn {
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-weight: 400;
  letter-spacing: .5px;
  margin: 0;
  margin-right: 20px;
  text-transform: uppercase;
}
.btn-default {
  border: 0;
  background: #648880;
  padding: 11px 30px;
  font-size: 14px;
}
.btn-default:hover {
  background: #77a198;
}
.btn-alt {
  border: 1px solid #fff;
  padding: 10px 30px;
}
.btn-alt:hover {
  background: #fff;
  color: #648880;
}

img {
  --g: 0px;     /* the gap */
  --b: 12px;    /* border thickness*/
  --c: #F5BF74; /* the color */


  padding: calc(var(--g) + var(--b));
  --_c: #0000 0 25%, var(--c) 0 50%;
  --_g1: repeating-linear-gradient(90deg ,var(--_c)) repeat-x;
  --_g2: repeating-linear-gradient(180deg,var(--_c)) repeat-y;
  background:
    var(--_g1) var(--_p, 25%) 0   ,var(--_g2) 0    var(--_p,125%),
    var(--_g1) var(--_p,125%) 100%,var(--_g2) 100% var(--_p, 25%);
  background-size: 200% var(--b),var(--b) 200%;
  cursor: pointer;
  filter: grayscale(50%);
  transition: .3s;
}
img:hover {
  --_p: 75%;
  filter: grayscale(0%);
}

#titleDiv {
  display: flex;
  justify-content: center;
}

.content-table {
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 0.9em;
  min-width: 400px;
  /* font-family: "Lato", "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;; */
  border-radius: 5px 5px 0 0;
  overflow: hidden;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  background-color: #FEFEFE;
}

.content-table thead tr {
  background-color:  #F5BF74;
  color: black;
  text-align: left;
  /* font-weight: bold; */
}

.content-table th,
.content-table td {
  padding: 12px 15px;
}

.content-table tbody tr {
  border-bottom: 1px solid #dddddd;
  color: black;
}

.content-table tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

.content-table tbody tr:last-of-type {
  border-bottom: 2px solid  #F5BF74;
}

.content-table tbody tr.active-row {
  /* font-weight: bold; */
  color: #F5BF74;
}

caption {
  color: #FEFEFE;
}

#projectImg {
  width: 100px;
}

#createProjectFormParent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 50px;
}

#createProjectFormParent > h4 {
  margin-top: 20px;
  margin-bottom: -50px;
}

#createProjectForm {
  display: flex;
  justify-content: center;
  background-color: #fff;
  border: 2px solid #F5BF74;
  padding: 20px;
  color: black;
  width: 600px;
}

#saveNewProjectBtn {
  margin-right: 15px;
}
body {
  background: #FEFEFE;
  color: #888;
  font: 300 16px/22px "Lato", "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/* Comment section styling */

::selection {
  color: #fff;
  background: #4671ea;
}
.wrapper {
  width: 470px;
  background: #F5BF74;
  border-radius: 5px;
  padding: 25px 25px 30px;
  box-shadow: 8px 8px 10px rgba(0, 0, 0, 0.06);
}
.wrapper h2 {
  color: #353842;
  font-size: 28px;
  text-align: center;
}
.wrapper textarea {
  width: 100%;
  resize: none;
  height: 59px;
  outline: none;
  padding: 15px;
  font-size: 16px;
  margin-top: 20px;
  border-radius: 5px;
  max-height: 330px;
  caret-color: #4671ea;
  border: 1px solid #bfbfbf;
}
textarea::placeholder {
  color: #b3b3b3;
}
textarea:is(:focus, :valid) {
  padding: 14px;
  border: 2px solid #F5BF74;
}
textarea::-webkit-scrollbar {
  width: 0px;
}

.posts {
  clear: both;
  list-style: none;
  padding-left: 0;
  width: 100%;
  text-align: left;
}

.posts li {
  color: black !important;
  background-color: #fff;
  border: 5px solid #F5BF74;
  border-radius: 0px 10px 10px 10px;
  padding-top: 10px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 10px;
  margin-bottom: 10px;
  word-wrap: break-word;
  min-height: 42px;
  margin-top: 50px;
}

.mask{
  box-shadow:0 0 0 2000px rgba(0,0,0,0);
}
.mask:hover {
  box-shadow:0 0 0 2000px rgba(0,0,0,0.5);
}

.bs_test{
  max-width:800px;
  min-width:800px;
  width:800px;
  max-height:auto;
  min-height:auto;
  height:auto;
  display: flex;
  flex-direction: column;
  vertical-align:middle;
  text-align:center;
  border:1px solid #000;
  -webkit-transition:0.5s;
  -moz-transition:0.5s;
  transition:0.5s;
}
.bs_test p {
  vertical-align:middle;
  font-size:22px;
  padding:0 10px;
  z-index:10;
}

.frame{
  border-collapse:separate;
  border-spacing:20px;
  max-width:1020px;
  width:1020px;
}

#commentDate {
  bottom: 0 !important;
  right: 0 !important;
}

textarea:focus {
  outline: none !important;
  border:2px solid white;
  box-shadow: 0 0 4px black;
}

@keyframes bg {
  0% {
      background-size:    0 3px,
                          3px 0,
                          0 3px,
                          3px 0;
  }
  25% {
      background-size:    100% 3px,
                          3px 0,
                          0 3px,
                          3px 0;
  }
  50% {
      background-size:    100% 3px,
                          3px 100%,
                          0 3px,
                          3px 0;
  }
  75% {
      background-size:    100% 3px,
                          3px 100%,
                          100% 3px,
                          3px 0;
  }
  100% {
      background-size:    100% 3px,
                          3px 100%,
                          100% 3px,
                          3px 100%;
  }
}

.headerDiv {
  width: 35%;
  margin: 2rem auto;
  padding: 2em;

  background-repeat: no-repeat;
  background-image:   linear-gradient(to right, #C9C9C9 100%, #C9C9C9 100%),
                      linear-gradient(to bottom, #F5BF74 100%, #F5BF74 100%),
                      linear-gradient(to right, #F5BF74 100%, #F5BF74 100%),
                      linear-gradient(to bottom, #C9C9C9 100%, #C9C9C9 100%);
  background-size:    100% 3px,
                      3px 100%,
                      100% 3px,
                      3px 100%;
  background-position:    0 0,
                          100% 0,
                          100% 100%,
                          0 100%;
  animation: bg 1.25s cubic-bezier(0.19, 1, 0.22, 1) 1;
  animation-play-state: running;
}

.headerDiv:hover {
  animation-play-state: running;
}

