<div id="titleDiv">
<h1>Projects <span style="color: #F5BF74;">Board</span></h1>
</div>

<div class="container" *ngIf="!createProject">
  <div class="table-wrapper" *ngIf="!selected">
    <div class="table-title">
      <div class="row">
        <div class="col-sm-6">
          <h2><b>Projects</b></h2>
        </div>
        <div class="col-sm-6">
          <a class="btn btn-success zoom" data-toggle="modal" (click)="createProject = true"><i class="material-icons">&#xE147;</i> <span>Add New Project</span></a>
          <a class="btn btn-danger zoom" data-toggle="modal" (click)="deleteProjects()" *ngIf="loggedInUser.role === 'ADMIN'"><i class="material-icons">&#xE15C;</i> <span>Archive</span></a>
        </div>
      </div>
    </div>
    <table class="table table-striped table-hover">
      <thead>
        <tr>
          <th>
          </th>
          <th style="text-align: center; vertical-align: middle;">Project Owner</th>
          <th style="text-align: center; vertical-align: middle;">Name</th>
          <th style="text-align: center; vertical-align: middle;">Description</th>
          <th style="text-align: center; vertical-align: middle;">Skill</th>
          <th style="text-align: center; vertical-align: middle;">Image</th>
          <th style="text-align: center; vertical-align: middle;">Actions</th>
        </tr>
      </thead>
      <tbody *ngFor="let project of projects">
        <tr *ngIf="project.enabled">
          <td style="text-align: center; vertical-align: middle;">
            <span class="custom-checkbox" *ngIf="loggedInUser.role === 'ADMIN'">
              <input type="checkbox" id="checkbox1" name="options[]" value="1" (change)="addProjectToDelete(project)">
              <label for="checkbox1"></label>
            </span>
          </td>
          <td style="text-align: center; vertical-align: middle;" (click)="displayProject(project)">
         </td>
          <td style="text-align: center; vertical-align: middle;" (click)="displayProject(project)" class="ellipsis">{{project.name}}</td>
          <td style="text-align: center; vertical-align: middle;" (click)="displayProject(project)" class="ellipsis">{{project.description}}</td>
          <!-- ASK ABOUT THIS!!! -->
          <ng-container *ngFor="let projectSkill of project.skills">
            <td style="text-align: center; vertical-align: middle;" *ngIf="project.skills; else noSkills" (click)="displayProject(project)" class="ellipsis">{{projectSkill.name}}</td>
          </ng-container>
          <ng-template #noSkills>
            <td style="text-align: center; vertical-align: middle;" (click)="displayProject(project)" class="ellipsis"><span>No skills</span></td>
          </ng-template>
          <td style="text-align: center; vertical-align: middle;" (click)="displayProject(project)"><img style="--b: 5px;" class="" id="projectImage" src="{{project.imagePrimary}}"></td>
          <td>
            <!-- <a class="edit" data-toggle="modal" (click)="displayProject(project)"><i class="material-icons" data-toggle="tooltip" title="Edit">&#xE254;</i></a>
            <a class="delete" data-toggle="modal" (click)="deleteProject(project)"><i class="material-icons" data-toggle="tooltip" title="Delete">&#xE872;</i></a> -->
            <a class="btn btn-info zoom" data-toggle="modal" style="color: white; font-size: 10px !important" (click)="displayProject(project)"><i class="material-icons">&#xe0ca;</i> <span>Comment</span></a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<div class="container" *ngIf="selected && !editProject" class="box">

  <div class="container" *ngIf="selected" style="font-family: 'Segoe UI', Roboto, 'Helvetica Neue', 'Noto Sans', 'Liberation Sans', Arial, sans-serif !important; max-width: 1000px !important;">
    <table class="content-table" style="max-width: 1000px !important; max-height: 400px !important;">
      <caption>Project <span style="color: #F5BF74;">Summary</span></caption>
      <thead>
        <tr>
          <th>Image</th>
          <th>Name</th>
          <th>Description</th>
          <th>Date Posted</th>
          <th>Start Date</th>
          <th>Projected Completion</th>
          <th>Project Members</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td style="text-align: center; vertical-align: middle;"><img class="" id="projectImg" style="width: 200px;" src="{{ selected.imagePrimary }}"></td>
          <td style="text-align: center; vertical-align: middle;">{{ selected.name }}</td>
          <td style="text-align: left; vertical-align: middle;">{{ selected.description }}</td>
          <td style="text-align: center; vertical-align: middle;">{{ selected.datePosted | date : "shortDate"}}</td>
          <td style="text-align: center; vertical-align: middle;">{{ selected.startDate | date : "shortDate"}}</td>
          <td style="text-align: center; vertical-align: middle;">{{ selected.projectedDate | date : "shortDate"}}</td>
          <td style="text-align: left; vertical-align: middle;"> <ul *ngFor="let user of selected.users"><li style="list-style: none; text-transform: capitalize;">
            [{{ user.firstName }}]
          </li></ul> </td>

        </tr>
      </tbody>
    </table>
    <!-- NEED HELP WITH ALLOWING ADMIN OR USER THAT CREATED PROJECT TO DISPLAY EDIT BUTTON!!! -->
    <button *ngIf="selected.userId === loggedInUser.id || loggedInUser.role === 'admin'" class="btn btn-alt" (click)="setEditProject()">Edit</button>
    <button class="btn btn-alt" (click)="addUser(selected, loggedInUser)">Join</button>
    <button class="btn btn-alt" (click)="displayTable(); editProject = null">Back</button>
    <br>
    <br>
    <br>

    <!-- comments section start  -->
      <h1>COMMENTS</h1>
      <!-- <caption>Comment <span style="color: #F5BF74;">Section</span></caption> -->
      <p *ngFor="let comment of comments">
        User {{comment.userId}} posted: {{comment.comment }} on {{comment.datePosted | date : "shortDate"}}<br>
      </p>
        <p *ngIf="comments.length <= 0">
          <strong>Be the first to comment!</strong>
      </p>
    <form>
<textarea name="newComment.comment" id="" cols="70" rows="10" [(ngModel)]="newComment.comment"></textarea>
<br>
<button class="btn btn-alt" (click)="createComment(newComment, selected) ; displayTable()">Submit</button>
</form>
<!-- comments section end  -->
  </div>
</div>

<!-- </div> -->

<div *ngIf="selected && editProject" class="box">
  <label class="form-label" for="task">Name</label>
  <input class="form-control" type="text" name="editProject.name" [(ngModel)]="editProject.name" placeholder="{{selected.name}}"><br>
  <label class="form-label" for="description">Description</label>
  <input class="form-control" type="text" name="editProject.description" [(ngModel)]="editProject.description" placeholder="{{selected.description}}"><br>
  <label for="imageUrl">Image URL</label>
  <input type="text" name="editProject.imagePrimary" [(ngModel)]="editProject.imagePrimary" placeholder="{{selected.imagePrimary}}"><br>

  <button class="btn btn-primary" (click)="updateProject(editProject)">Save</button>
  <button class="btn btn-primary" (click)="editProject = null">Cancel</button>
</div>

<div id="createProjectFormParent" *ngIf="createProject">
  <h4>Create <span style="color:#F5BF74;">Project</span></h4><br>
  <div id="createProjectForm" class="box">
  <form>
  <label class="form-label" for="task">Name</label>
  <input class="form-control" type="text" name="addProject.name" [(ngModel)]="newProject.name" required><br>
  <label class="form-label" for="description">Description</label>
  <input class="form-control" type="text" name="addProject.description" [(ngModel)]="newProject.description" required><br>
  <label for="imageUrl">Image URL</label><br>
  <input class="form-control" type="text" name="addProject.imagePrimary" [(ngModel)]="newProject.imagePrimary" required><br>
  <label class="form-label" for="startDate">Start Date</label>
 <input class="form-control" type="date" name= "addProject.startDate" [(ngModel)]="newProject.startDate" required>
 <label class="form-label" for="projectedDate">Projected Completion Date</label>
 <input class="form-control" type="date" name= "addProject.projectedDate" [(ngModel)]="newProject.projectedDate" required>
  <br>
  <button id="saveNewProjectBtn" class="btn btn-primary" (click)="addProject(newProject)">Save</button>
  <button class="btn btn-danger" (click)="createProject = false">Back</button>
</form>
</div>
</div>


<!-- Info about selected project -->
<!-- <div class="container" *ngIf="selected">
  <table class="content-table">
    <caption>Project <span style="color: #F5BF74;">Summary</span></caption>
    <thead>
      <tr>
        <th>Image</th>
        <th>Name</th>
        <th>Description</th>
        <th>Date Posted</th>
        <th>Start Date</th>
        <th>Projected Completion</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><img class="zoom" id="projectImg" style="width: 300px;" src="{{ selected.imagePrimary }}"></td>
        <td>{{ selected.name }}</td>
        <td>{{ selected.description }}</td>
        <td>{{ selected.datePosted | date : "shortDate"}}</td>
        <td>{{ selected.startDate | date : "shortDate"}}</td>
        <td>{{ selected.projectedDate | date : "shortDate"}}</td>
      </tr>
    </tbody>
  </table>
  <button class="btn btn-alt" (click)="setEditProject()">Edit</button>
  <button class="btn btn-alt" (click)="displayTable(); editProject = null">Back</button>
</div> -->
<!-- End of information about a selected project -->
<br />

<button *ngIf="!displayTable" class="btn btn-primary" (click)="setAddProject()">Add a project!</button>
