<nav class="navbar navbar-expand-sm navbar-light bg-light">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
    <a class="navbar-brand" [routerLink]="['/home']">Home</a>
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/about']">About</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/project']">Project</a>
      </li>
      <li class="nav-item" *ngIf="loggedIn()">
        <a class="nav-link" [routerLink]="['/profile']">Profile</a>
      </li>
      <li class="nav-item" *ngIf="!loggedIn()">
        <a class="nav-link" [routerLink]="['/register']">Register</a>
      </li>
      <!-- <li class="nav-item" *ngIf="!loggedIn()">
        <app-login></app-login>
      </li> -->
      <li class="nav-item" *ngIf="!loggedIn()">
        <a class="nav-link" (click)="open(mymodal)">Login</a>
      </li>
    </ul>
    <div id="loginDiv" *ngIf="loggedIn()">
      <app-logout></app-logout>
    </div>
  </div>
</nav>

<ng-template #mymodal let-modal>
  <div *ngIf="!loggedIn()">
  <div class="modal-header">
    <h4 style="color: black" class="modal-title" id="modal-basic-title">Login</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">X</span>
    </button>
  </div>
  <div class="modal-body">
    <app-login></app-login>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Cancel</button>
  </div>
</div>
</ng-template>


