a {
  cursor: pointer;
  color: white;
}

a:visited {
  color: white;
}
a:hover {
  color: crimson;
}

a:active {
  color: crimson;
}


nav > div {
  margin-left: 0px;
  background-color: #08243B;
}

.navbar {
  background-color: #08243B;
}

#loginDiv {
  width: 100%;

}

.logoutWrapper {
  justify-content: right;
}

/* .navbar-brand {
  width: 8vw;
}

.nav-link {
  width: ;
} */

ul {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: left;
}

#navbarTogglerDemo01 {
  display: flex;
  flex-direction: row;
}

.nav-item {
  font-size: 20px;
  text-align: center;
  width: 9rem;
}


