@import "~bootstrap/dist/css/bootstrap.min.css";
@import "~bootstrap/dist/css/bootstrap.css";
@import 'material-icons/iconfont/material-icons.css';
/* You can add global styles to this file, and also import other style files */
body{
  background-color: #08243B;
color: white;
}
h1{
color:beige;
}
/* @import '~mdb-angular-ui-kit/assets/scss/mdb.scss'; */
