<section>
  <div class="scroll text1">
    <div>
      Under <span>Construction • </span>Under <span>Construction • </span>Under <span>Construction • </span>Under <span>Construction • </span>
    </div>
      <div>
      Under <span>Construction • </span>Under <span>Construction • </span>Under <span>Construction • </span>Under <span>Construction • </span>
    </div>
      <div>
      Under <span>Construction • </span>Under <span>Construction • </span>Under <span>Construction • </span>Under <span>Construction • </span>
    </div>
  </div>
  <div class="scroll text2">
    <div>
      Under <span>Construction • </span>Under <span>Construction • </span>Under <span>Construction • </span>Under <span>Construction • </span>
    </div>
      <div>
      Under <span>Construction • </span>Under <span>Construction • </span>Under <span>Construction • </span>Under <span>Construction • </span>
    </div>
      <div>
      Under <span>Construction • </span>Under <span>Construction • </span>Under <span>Construction • </span>Under <span>Construction • </span>
    </div>
  </div>
    <div class="scroll text3">
    <div>
      Under <span>Construction • </span>Under <span>Construction • </span>Under <span>Construction • </span>Under <span>Construction • </span>
    </div>
      <div>
      Under <span>Construction • </span>Under <span>Construction • </span>Under <span>Construction • </span>Under <span>Construction • </span>
    </div>
      <div>
      Under <span>Construction • </span>Under <span>Construction • </span>Under <span>Construction • </span>Under <span>Construction • </span>
    </div>
  </div>
    <div class="scroll text4">
    <div>
      Under <span>Construction • </span>Under <span>Construction • </span>Under <span>Construction • </span>Under <span>Construction • </span>
    </div>
      <div>
      Under <span>Construction • </span>Under <span>Construction • </span>Under <span>Construction • </span>Under <span>Construction • </span>
    </div>
      <div>
      Under <span>Construction • </span>Under <span>Construction • </span>Under <span>Construction • </span>Under <span>Construction • </span>
    </div>
  </div>
    <div class="scroll text5">
    <div>
      Under <span>Construction • </span>Under <span>Construction • </span>Under <span>Construction • </span>Under <span>Construction • </span>
    </div>
      <div>
      Under <span>Construction • </span>Under <span>Construction • </span>Under <span>Construction • </span>Under <span>Construction • </span>
    </div>
      <div>
      Under <span>Construction • </span>Under <span>Construction • </span>Under <span>Construction • </span>Under <span>Construction • </span>
    </div>
  </div>
</section>
